body
{
	color: #333;
	background-color: #e0e0e0;
}
#header
{
	background-color: #ebf2f3;
}
header
{
	color: #fff;
	background-color: #39AECF;
}
header nav
{
	background-color: #025167;
	border-color: #e0e0e0;
}
header nav a:link,header nav a:visited
{
	color: #e0e0e0;
	background-color: transparent;
	border-color: #e0e0e0;
}
header nav a:hover
{
	color: #fff;
	background-color: #057d9f;
}
header nav a:active
{
	color: #667;
	background-color: #ec8;
}
header nav a.here:link,
header nav a.here:visited,
header nav a.here:hover,
header nav a.here:active
{
	color: #fff;
	background-color: #206676;
}
body #mainwrap
{
	background-color: #fff;
}
body #main
{
	color: #333;
	background-color: #fff;
}
h1
{
	color: #61b7cf;
}
body div #imageBox .imageCount li
{
	color: #fff;
	background-color: #60b9ce;
}
body div #imageBox .imageCount li.current
{
	background-color: #39AECF;
}
body #main nav li a
{
	color: #333;
}